flows (1).json
[{"id":"e65cd8d9.cc8048","type":"function","z":"d9bb9a67.22e1f8","name":"PreToken","func":"global.set(\"gr\",msg.payload.gr)\nglobal.set(\"vt\",msg.payload.vt)\nglobal.set(\"bd\",msg.payload.bd)\nvar apikey=\"ZvZQuK2KTYK0dDrwfe5QwfdQk3AZd7vzwNmOKDsV00_y\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":280,"wires":[["8add3b6a.e9eef8"]]},{"id":"8add3b6a.e9eef8","type":"http request","z":"d9bb9a67.22e1f8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":260,"wires":[["2799c705.9f21c8"]]},{"id":"440bce51.d02b3","type":"inject","z":"d9bb9a67.22e1f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":245.5,"y":193.99999809265137,"wires":[["e65cd8d9.cc8048"]]},{"id":"e1f1065e.6d3728","type":"debug","z":"d9bb9a67.22e1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":40,"wires":[]},{"id":"2799c705.9f21c8","type":"function","z":"d9bb9a67.22e1f8","name":"Pre Prediction","func":"var gr = global.get('gr')\nvar vt = global.get('vt')\nvar bd = global.get('bd')\nvar token=msg.payload.access_token\nvar instance_id=\"37f4c38a-ec1d-4630-8ead-7be4e2481b71\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"gross\",\"num_votes_users\",\"budget\"], \"values\": [[gr,vt,bd]]}\nreturn msg;","outputs":1,"noerr":0,"x":796.0000076293945,"y":231.99999904632568,"wires":[["8a85ca9a.504c28"]]},{"id":"8a85ca9a.504c28","type":"http request","z":"d9bb9a67.22e1f8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/37f4c38a-ec1d-4630-8ead-7be4e2481b71/deployments/6452ab90-5634-49ea-ac6a-f74d2c8064cc/online","tls":"","persist":false,"proxy":"","authType":"","x":889.5000076293945,"y":175.99999904632568,"wires":[["3a091489.4badac","e1f1065e.6d3728"]]},{"id":"367ddb37.8c8224","type":"ui_form","z":"d9bb9a67.22e1f8","name":"","label":"","group":"e3cedc29.89595","order":0,"width":0,"height":0,"options":[{"label":"gross","value":"gr","type":"number","required":true},{"label":"votes","value":"vt","type":"number","required":true},{"label":"budget","value":"bd","type":"number","required":true}],"formValue":{"gr":"","vt":"","bd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":191,"y":322.9999952316284,"wires":[["e65cd8d9.cc8048"]]},{"id":"3a091489.4badac","type":"function","z":"d9bb9a67.22e1f8","name":"","func":"msg.payload=msg.payload.values[0][0][0]\nreturn msg;","outputs":1,"noerr":0,"x":749.6000366210938,"y":71.60000133514404,"wires":[["e1f1065e.6d3728","4c9584a.8bf1d7c"]]},{"id":"4c9584a.8bf1d7c","type":"ui_text","z":"d9bb9a67.22e1f8","group":"e3cedc29.89595","order":3,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":120,"wires":[]},{"id":"e3cedc29.89595","type":"ui_group","z":"","name":"Film Fortune Prediction","tab":"c054126e.a2e68","disp":true,"width":"6","collapse":false},{"id":"c054126e.a2e68","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]